.header {
    border-bottom: 1px solid #ececec;
  }
  
  
  .header__conteiner {
    width: 1200px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 767px) {
      max-width: 448px;
    }
  
   // breakpoint 768px for tablet screen
  @media screen and (max-width: 1199px) {
    width: 720px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
  
  }
  
  
  /* Логотип */
  .logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1;
    text-decoration: none;
    color: #2196f3;
  
  
    @media screen and (min-width: 480px) and (max-width: 767px) {
      padding-top: 16px;
      padding-bottom: 16px;
      height: 60px;
    }
  }
  
  .logo__dark {
    color: #000000;
  }
  
 

  /* Хедер-контакты  */

  
  .contacts__list {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: auto;

    @media screen and (max-width:767px) {
      display: none;
    }
  }
  
  .contacts__link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:focus {
      color: var(--blue-color);
    }
    
    &:hover {
      color: var(--blue-color);
    }
    
  }
  
  .contacts__svg {
    fill: currentColor;
    margin-right: 10px;
  }