
  .subtitle-customers{
    margin-bottom: 30px;
    
    font-weight: 700;
  
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    font-size: 28px;
    
    @media screen and (min-width: 1200px) {
      font-size: 36px;
      margin-top: 93px;
    }
  }
  
  .customers__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;

    @media screen and (min-width: 480px) {
      flex-wrap: wrap;
    }
  
    @media screen and (min-width: 768px) {
      flex-wrap: wrap;
    }
  }
  
  .customers__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 480px) {
      width: 210px;
    }
  
    @media screen and (min-width: 768px) {
      width: 226px;
    }
  
    @media screen and (min-width: 1200px) {
      width: 170px;
    }
    &:hover .customers__link__svg {
      fill: var(--blue-color);
    }
    
    &:hover {
      border: 1px solid var(--blue-color);
    }
  
}
  
  .customers__link__svg {
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  