.portfolio__btn__list {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
  }
  
 
  
  .portfolio__btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    color: #212121;
  
    background-color: #f5f4fa;
    border-radius: 4px;
    cursor: pointer;
    padding: 6px 22px;
  
    border: #f5f4fa;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
     
      &__btn:focus {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.6;
        letter-spacing: 0.03em;
        color: #ffffff;
        background-color: var(--blue-color);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      }
      
  }
  
  
  .portfolio__btn:hover {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    color: #ffffff;
    background-color: var(--blue-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  
  .portfolio__list {
    display: flex;
    flex-wrap: wrap;
  
    --items: 3;
    --indent: 30px;
    gap: 30px;
  }
  
  
  .portfolio__item {
      flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
      &:hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
          1px 4px 6px rgba(0, 0, 0, 0.16);
      }
      &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
          1px 4px 6px rgba(0, 0, 0, 0.16);
      }
      
      &:hover .portfolio__overlay__cards {
        transform: translateY(0%);
      }
  }
  
  .portfolio__overlay {
    position: relative;
    overflow: hidden;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .portfolio__img {
    display: block;
  }
  
  .list__name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
  }
  
  .list__name.name {
    margin-bottom: 4px;
  }
  
  .list__project {
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: #757575;
  }
  

  
  .portfolio__wrap {
    border: 1px solid #eeeeee;
    border-top: none;
    padding: 20px 24px;
  }
  
 
  
  .portfolio__overlay__cards {
      
      display: inline-block;
      position: absolute;
      
      width: 100%;
      height: 100%;
      background-color: rgba(33, 150, 243, 0.9);
      top: 0;
      transform: translateY(100%);
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

      padding-top: 63px;
      padding-bottom: 63px;
      padding-left: 24px;
      padding-right: 24px;
      
      &:hover {
        opacity: 1;
      }
  }
  
  
  .overlay__cards__text {
    font-size: 18px;
    line-height: 1.6;
    color: #ffffff;
  }
  /* our-customers */
  
  .our-customers {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
  }
  
  
  
  .customers__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
  }
  
  .customers__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover .customers__link__svg {
        fill: var(--blue-color);
    }
   
    &:hover {
      border: 1px solid var(--blue-color);
    }
  }
  
  
  
  .customers__link__svg {
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  
  